/*
* Name: Lexicon Sokoban
* Description: CSS/JS training project
* Author: Johan Ivarsson
* Author URI: https://github.com/vingnir
* Copyright 2022-01 Johan Ivarsson
* Tags: Lexicon, CSS, JavaScript
***************************************
* TABLE OF CONTENTS
* HEADING -  navigation
* MAINCONTENT - 
* FOOTER - Copyright
***/


/* Main */
#top_content{
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    width:100%;
    color:ghostwhite;
    
    font-family: "Goudy Bookletter 1911", sans-serif;
    text-align: center;
    text-shadow: 0 2px white;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b8bec5;
}


#playground{
   
width: 475px;
height: 400px;
margin: 0 auto;
}

.block{
    width: 23px;
    height: 23px;
    border: 1px solid black;
    float: left;
    background-color: rgb(179, 143, 143);
}


.player{
    
   background-image: url("../images/chicken23x20.png")!important;
   z-index: 100000;
}

/* Map */
.W{
    width: 23px;
    height: 23px;
    border: 1px solid black;
    background-color: rgb(62 60 50);
    float: left;
    background-image: url("../images/wall25px.png");
}



.G{
   background: #b9b9b9;
   width: 15px;
  height: 18px;
  border-radius: 50%;
   box-shadow: 0px 0px 1px 1px #0000001a;
  animation: pulse-animation 2s infinite;
  margin-left: 4px;
  margin-right: 4px;
}

.G-success{
   background: white;
   width: 10px;
  height: 13px;
  border-radius: 50%;
   box-shadow: 0px 0px 1px 1px #0000001a;
  animation: none;
  padding-left: 2.5px;
  padding-right: 2.5px;
  padding-top:2.5px;
  padding-bottom: 2.5px;
}

.B{
    
     background-image: url("../images/transChicken.png");
    
}

/* Game animations*/


@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}